$font-size: clamp(.9em, calc(.3em + 1.6vmin), 4em);

$font-color-primary: #fff;
$font-color-secondary: #17353d;
$font-color-tertiary: #333;

$bg-color-primary: #eee;
$bg-color-secondary: #F96666;
// $bg-color-tertiary: